@charset "utf-8";
/*todo:定义统一的风格内容：color size background*/
/*取消点击闪烁问题*/


html {
    touch-action: none;
}

html,
body {
    position: relative;
    word-spacing: normal;
    font-family: "Microsoft YaHei", Arial;
    height: 100%;
    font-size: 12px;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

div,
table,
form,
h5,
p {
    /* text-align: left; */
    padding: 0;
    margin: 0;
    border: 0;
}

ul,
li,
ol,
form,
label {
    margin: 0;
    padding: 0;
    list-style: none;
}

img,
a {
    border: 0;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

input,
textarea,
keygen,
select,
button {
    font-family: "Microsoft YaHei", Arial;
}

.active {
    border: 0;
}

.hide {
    display: none!important;
}

.enable {
    opacity: 1;
}

.disable {
    opacity: 0.6;
}

.clearfix::after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.nav-list {
    display: table;
    width: 100%;
    height: 100%;
    /*超出后 table cell 指定的width 不溢出*/
    table-layout: fixed;
}

.nav-list li {
    display: table-cell;
    /*height: 50px;*/
}

.result_page .nav-list li {
    display: inline-block;
}

.table_row {
    display: table-row;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?1dbhad');
    src:  url('../fonts/icomoon.eot?1dbhad#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1dbhad') format('truetype'),
    url('../fonts/icomoon.woff?1dbhad') format('woff'),
    url('../fonts/icomoon.svg?1dbhad#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    /* -webkit-font-smoothing: antialiased; */
    /* -moz-osx-font-smoothing: grayscale; */
}
.icon-duihao:before {
  content: "\e905";
}
.icon-duihao1:before {
  content: "\e920";
}
.icon-duihao2:before {
  content: "\e92c";
}
.icon-duihao3:before {
  content: "\e92d";
}
.icon-windows1:before {
  content: "\eac2";
}
.icon-safari1:before {
  content: "\eade";
}
.icon-duihao4:before {
  content: "\eb4c";
}
.icon-duihao:before {
  content: "\e905";
}
.icon-duihao1:before {
  content: "\e920";
}
.icon-duihao2:before {
  content: "\e92c";
}
.icon-duihao3:before {
  content: "\e92d";
}
.icon-windows1:before {
  content: "\eac2";
}
.icon-safari1:before {
  content: "\eade";
}
.icon-duihao4:before {
  content: "\eb4c";
}
.icon-fenxiang:before {
  content: "\e900";
}


.icon-xialouti:before {
    content: "\e600";
}

.icon-coffee:before {
    content: "\e601";
}

.icon-xindiantu:before {
    content: "\e602";
}

.icon-dingwei:before {
    content: "\e603";
}

.icon-fangshe:before {
    content: "\e604";
}

.icon-escalator:before {
    content: "\e605";
}

.icon-guahao:before,
.icon-yidaotai:before {
    content: "\e606";
}

.icon-blood:before {
    content: "\e607";
}

.icon-loading:before {
    content: "\e608";
}

.icon-man:before {
    content: "\e609";
}

.icon-woman:before {
    content: "\e60a";
}

.icon-shijian:before {
    content: "\e60b";
}

.icon-lunyi:before {
    content: "\e60c";
}

.icon-yao:before {
    content: "\e60d";
}

.icon-elevator:before {
    content: "\e60e";
}

.icon-cesuo-manwoman:before {
    content: "\e60f";
}

.icon-fivestar2:before {
    content: "\e610";
}

.icon-back:before,.icon-share1:before {
    content: "\e611";
}

.icon-search:before {
    content: "\e612";
}

.icon-jia:before {
    content: "\e613";
}

.icon-zhixing-right:before {
    content: "\e614";
}

.icon-shoulu:before {
    content: "\e615";
}

.icon-jian:before {
    content: "\e616";
}

.icon-tow-zhuanwan:before {
    content: "\e617";
}

.icon-kong-poi:before {
    content: "\e618";
}

.icon-map:before {
    content: "\e619";
}

.icon-tingzhenqi:before {
    content: "\e61a";
}

.icon-qiguan-wei:before {
    content: "\e61b";
}

.icon-piao2:before {
    content: "\e61c";
}

.icon-located:before {
    content: "\e61d";
}

.icon-stair:before {
    content: "\e61e";
}

.icon-jinjitongdao:before {
    content: "\e61f";
}

.icon-gaizhang:before {
    content: "\e620";
}

.icon-dengji:before {
    content: "\e621";
}

.icon-shuilongtou:before {
    content: "\e622";
}

.icon-tow-dirstair:before {
    content: "\e623";
}

.icon-shoufei:before {
    content: "\e624";
}

.icon-pin:before {
    content: "\e625";
}

.icon-jishiben:before {
    content: "\e626";
}

.icon-shuye:before {
    content: "\e627";
}

.icon-jianyan:before {
    content: "\e628";
}

.icon-ka:before {
    content: "\e629";
}

.icon-jiandao:before {
    content: "\e62a";
}

.icon-zhuyuan:before {
    content: "\e62b";
}

.icon-help:before {
    content: "\e62c";
}

.icon-guahaoji:before {
    content: "\e62d";
}

.icon-canyin2:before {
    content: "\e62e";
}

.icon-chu-dainti:before {
    content: "\e62f";
}

.icon-chu-futi:before {
    content: "\e630";
}

.icon-hushi:before {
    content: "\e631";
}

.icon-down-arrow:before,
.icon-collapse:before {
    content: "\e632";
}

.icon-up-arrow:before,
.icon-expand:before {
    content: "\e633";
}

.icon-left-arrow:before {
    content: "\e634";
}

.icon-chu-louti:before {
    content: "\e635";
}

.icon-shang-futi:before {
    content: "\e636";
}

.icon-xia-futi:before {
    content: "\e637";
}

.icon-shang-louti:before {
    content: "\e638";
}

.icon-xia-louti:before {
    content: "\e639";
}

.icon-xia-dianti:before {
    content: "\e63a";
}
.icon-shangchuan:before,.icon-upload-fold:before {
  content: "\e63e";
}
.icon-anquan:before {
  content: "\e644";
}
.icon-zhixing:before {
  content: "\e645";
}
.icon-youzhuan:before {
  content: "\e646";
}
.icon-zuozhuan:before {
  content: "\e647";
}
.icon-zuohouzhuan:before {
  content: "\e648";
}
.icon-youhouzhuan:before {
  content: "\e649";
}
.icon-youqianzhuan:before {
  content: "\e64a";
}
.icon-zuoqianzhuan:before {
  content: "\e64c";
}
.icon-qiangxinhao:before {
  content: "\e64f";
}
.icon-zhongxinhao:before {
  content: "\e650";
}
.icon-ruoxinhao:before {
  content: "\e651";
}
.icon-close:before {
  content: "\e652";
}

.icon-buxing1:before,.icon-buxing:before  {
  content: "\e653";
}


.icon-luxian:before {
    content: "\e654";
}
.icon-zuji:before {
  content: "\e655";
}

.icon-kanditu:before {
    content: "\e656";
}

.icon-locate:before {
    content: "\e657";
}

.icon-failed-located:before {
    content: "\e657";
}

.icon-locate:before,
.icon-failure:before {
    font-size: 21px;
    color: #666666;
    content: "\e657";
}

.icon-zuoqian-arrow:before {
    content: "\e658";
}

.icon-right-arrow:before {
    content: "\e659";
}

.icon-jingyin:before {
    content: "\e65a";
}

.icon-down-escator:before {
    content: "\e65b";
}

.icon-chushengyin:before {
    content: "\e65e";
}

.icon-qidian:before {
    content: "\e65f";
}

.icon-zhongdian:before {
    content: "\e660";
}

.icon-camare:before {
    content: "\e661";
}
.icon-ditu:before {
  content: "\e698";
}
.icon-button_fenxiang:before,.icon-button_fenxiang:before {
  content: "\e900";
}
.icon-icon_chuzhan:before {
  content: "\e901";
  /* color: rgb(92,197,83); */
}
.icon-icon_chuzu:before {
  content: "\e902";
  /* color:rgb(93,210,187); */
}
.icon-icon_ditie:before {
  content: "\e903";
  /* color:rgb(70,162,251); */
}
.icon-icon_gongjiao:before {
  content: "\e904";
  /* color:rgb(94,113,244); */
}
.icon-icon_jinzhan:before {
  content: "\e906";
  /* color:rgb(93,210,187); */
}
.icon-icon_tingchechang:before {
  content: "\e907";
  /* color:rgb(250,160,52); */
}
.icon-icon_wangyueche:before {
  content: "\e908";
  /* color:rgb(70,162,251); */
}
.icon-icon_wenxuntai:before {
  content: "\e909";
}
.icon-icon_zhoubian:before {
  content: "\e90a";
  /* color:rgb(250,83,89); */
}
.icon-quanlan:before {
  content: "\e90b";
}
.icon-changtuche:before {
  content: "\e90c";
}
.icon-icon_changtuche:before {
  content: "\e90c";
   /* color: #23afa2; */
}
.icon-icon_houcheshi:before {
  content: "\e90d";
  /* color:rgb(93,210,187); */
}
.icon-icon_jianpiaokou:before {
  content: "\e90e";
  /* color: rgb(92,197,83); */
}
.icon-telephone:before {
  content: "\e921";
}
.icon-men:before {
  content: "\e922";
}
.icon-hospitalshizi:before {
  content: "\e923";
}
.icon-tingche-p:before {
  content: "\e924";
}
.icon-piao:before {
  content: "\e925";
}
.icon-jijiuxiang:before {
  content: "\e926";
}
.icon-fengjingluoshi:before {
  content: "\e927";
}
.icon-man-woman:before {
  content: "\e928";
}
.icon-zhongcanyin:before {
  content: "\e929";
}
.icon-b2jizhen:before {
  content: "\e92a";
}
.icon-b2menzhen:before {
  content: "\e92b";
}
.icon-b2zhuyuan:before {
  content: "\e92e";
}
.icon-b3jizhen:before {
  content: "\e92f";
}
.icon-b3menzhne:before {
  content: "\e930";
}
.icon-b3zhuyuan:before {
  content: "\e931";
}
.icon-stopcar:before {
  content: "\e932";
}
.icon-indoor:before {
  content: "\e933";
}
.icon-outdoor:before {
  content: "\e934";
}
.icon-basketball:before {
  content: "\e935";
}
.icon-boiler:before {
  content: "\e936";
}
.icon-cistern:before {
  content: "\e937";
}
.icon-distribute:before {
  content: "\e938";
}
.icon-electricSubstation:before {
  content: "\e939";
}
.icon-price-tag:before {
  content: "\e93a";
}
.icon-money:before {
  content: "\e93b";
}
.icon-laborInsurance:before {
  content: "\e93c";
}
.icon-leaderSearching:before {
  content: "\e93d";
}
.icon-library:before {
  content: "\e93e";
}
.icon-neibuZhaoPin:before {
  content: "\e93f";
}
.icon-policeService:before {
  content: "\e940";
}
.icon-shoeCabinet:before {
  content: "\e941";
}
.icon-socialSecurity:before {
  content: "\e942";
}
.icon-stadiums:before {
  content: "\e943";
}
.icon-surveillanceCenter:before {
  content: "\e944";
}
.icon-bianji2:before {
  content: "\e945";
}
.icon-train:before {
  content: "\e946";
}
.icon-worker:before {
  content: "\e947";
}
.icon-yuangongGuanai:before {
  content: "\e948";
}
.icon-zhaomuRenshu:before {
  content: "\e949";
}
.icon-share:before {
  content: "\e94a";
}
.icon-weizhifengxiang:before {
  content: "\e94b";
}
.icon-buti:before {
  content: "\e94c";
}
.icon-canyin1:before {
  content: "\e94d";
}
.icon-chuzhankou:before {
  content: "\e94e";
}
.icon-search3:before {
  content: "\e94f";
}
.icon-xiazai:before {
  content: "\e950";
}
.icon-dianpu:before {
  content: "\e951";
}
.icon-dituxuandian:before {
  content: "\e952";
}
.icon-electricSubstation1:before {
  content: "\e953";
}
.icon-yihao:before {
  content: "\e954";
}
.icon-user-unkown:before {
  content: "\e955";
}
.icon-icon-folder:before {
  content: "\e956";
}
.icon-left-angle:before {
  content: "\e957";
}
.icon-emolument1:before {
  content: "\e958";
}
.icon-uniE959:before {
  content: "\e959";
}
.icon-budeng:before {
  content: "\e95a";
}
.icon-uniE95B:before {
  content: "\e95b";
}
.icon-jinzhi:before {
  content: "\e95c";
}
.icon-plugin:before {
  content: "\e95d";
}
.icon-shuang-arrow:before {
  content: "\e95e";
}
.icon-laqu:before {
  content: "\e95f";
}
.icon-address-book:before {
  content: "\e960";
}
.icon-location-close:before {
  content: "\e961";
}
.icon-suoxiao:before {
  content: "\e962";
}
.icon-triangle:before {
  content: "\e963";
}
.icon-buliantong:before {
  content: "\e964";
}
.icon-layer1:before {
  content: "\e965";
}
.icon-tongji:before {
  content: "\e966";
}
.icon-link1:before {
  content: "\e967";
}
.icon-uniE967:before {
  content: "\e968";
}
.icon-uniE968:before {
  content: "\e969";
}
.icon-jian-btn:before {
  content: "\e96a";
}
.icon-icon-scan:before {
  content: "\e96b";
}
.icon-icon-wall:before {
  content: "\e96e";
}
.icon-icon-righ-align:before {
  content: "\e96f";
}
.icon-polygon:before {
  content: "\e970";
}
.icon-text:before {
  content: "\e971";
}
.icon-fangda:before {
  content: "\e972";
}
.icon-rule2:before {
  content: "\e973";
}
.icon-rule:before {
  content: "\e974";
}
.icon-rect:before {
  content: "\e975";
}
.icon-fan-angle:before {
  content: "\e976";
}
.icon-center-align:before {
  content: "\e977";
}
.icon-fan-angle2:before {
  content: "\e978";
}
.icon-uniE979:before {
  content: "\e979";
}
.icon-uniE97A:before {
  content: "\e97a";
}
.icon-top-align:before {
  content: "\e97b";
}
.icon-poi:before {
  content: "\e97c";
}
.icon-daohang:before {
  content: "\e97d";
}
.icon-icon-copy:before {
  content: "\e97f";
}
.icon-duixiang:before {
  content: "\e980";
}
.icon-redo:before {
  content: "\e981";
}
.icon-uniE982:before {
  content: "\e982";
}
.icon-uniE983:before {
  content: "\e983";
}
.icon-uniE984:before {
  content: "\e984";
}
.icon-yincang:before {
  content: "\e985";
}
.icon-box2:before {
  content: "\e986";
}
.icon-delete:before {
  content: "\e987";
}
.icon-shuaxin:before {
  content: "\e988";
}
.icon-icon-bianji:before {
  content: "\e989";
}
.icon-singlelink:before {
  content: "\e98a";
}
.icon-juhe:before {
  content: "\e98b";
}
.icon-undo:before {
  content: "\e98c";
}
.icon-upload:before {
  content: "\e98d";
}
.icon-left-align:before {
  content: "\e98e";
}
.icon-save:before {
  content: "\e98f";
}
.icon-icon-huakuai:before {
  content: "\e994";
}
.icon-chniese:before {
  content: "\e995";
}
.icon-english:before {
  content: "\e996";
}
.icon-csv:before {
  content: "\e997";
}
.icon-fresh:before {
  content: "\e998";
}
.icon-setting:before {
  content: "\e99a";
}
.icon-jian2:before {
  content: "\e99b";
}
.icon-jia2:before {
  content: "\e99d";
}
.icon-box:before {
  content: "\e99e";
}
.icon-triangle-up:before {
  content: "\e99f";
}
.icon-triangle-down:before {
  content: "\e9a0";
}
.icon-xianshi:before {
  content: "\e9a1";
}
.icon-shenluehao:before {
  content: "\e9a2";
}
.icon-erji:before {
  content: "\e9a3";
}
.icon-mypos:before {
  content: "\e9a4";
}
.icon-dianji:before {
  content: "\e9a5";
}
.icon-locate2:before {
  content: "\e9a8";
}
.icon-fanhui:before {
  content: "\e9a9";
}
.icon-futi:before {
  content: "\e9aa";
}
.icon-gengduo:before {
  content: "\e9ab";
}
.icon-guanbi:before {
  content: "\e9ac";
}
.icon-jianpiao:before {
  content: "\e9ad";
}
.icon-luxian1:before {
  content: "\e9ae";
}
.icon-surveillanceCenter1:before {
  content: "\e9af";
}
.icon-ellipsis:before {
  content: "\e9b0";
}
.icon-error:before {
  content: "\e9b1";
}
.icon-warning1:before {
  content: "\e9b2";
}
.icon-nannvcesuo:before {
  content: "\e9b3";
}
.icon-gouwuche:before {
  content: "\e9b4";
}
.icon-clock:before {
  content: "\e9b5";
}
.icon-renmingbi:before {
  content: "\e9b6";
}
.icon-qupiaoji:before {
  content: "\e9b7";
}
.icon-aixin:before {
  content: "\e9b8";
}
.icon-aixin1:before {
  content: "\e9b9";
}
.icon-gaotiefuwu:before {
  content: "\e9ba";
}
.icon-canyin:before {
  content: "\e9bb";
}
.icon-huaban:before {
  content: "\e9bc";
}
.icon-biaochi:before {
  content: "\e9bd";
}
.icon-chuzhan:before {
  content: "\e9be";
}
.icon-chuzuche:before {
  content: "\e9bf";
}
.icon-hand:before {
  content: "\e9c0";
}
.icon-layers:before {
  content: "\e9c1";
}
.icon-shuxingbiao:before {
  content: "\e9c2";
}
.icon-uniE9C2:before {
  content: "\e9c3";
}
.icon-huoche:before {
  content: "\e9c4";
}
.icon-icon-compass:before {
  content: "\e9c5";
}
.icon-fuwutai:before {
  content: "\e9c6";
}
.icon-gongjiao1:before {
  content: "\e9c7";
}
.icon-location:before {
  content: "\e9c8";
}
.icon-dianti2:before {
  content: "\e9c9";
}
.icon-close3:before {
  content: "\e9cb";
}
.icon-move:before {
  content: "\e9cc";
}
.icon-right-angle:before {
  content: "\e9cd";
}
.icon-houcheshi:before {
  content: "\e9ce";
}
.icon-jinchuzhankou:before {
  content: "\e9cf";
}
.icon-icon_jinchuzhankou:before {
  content: "\e9cf";
  color: rgb(93,210,187);
}
.icon-jinzhankou:before {
  content: "\e9d0";
}
.icon-qita:before {
  content: "\e9d1";
}
.icon-shangpu1:before {
  content: "\e9d2";
}
.icon-shoupiao:before {
  content: "\e9d3";
}
.icon-shoupiaochu:before,.icon-icon_shoupiaochu:before {
  content: "\e9d3";
  color: #027fe7;
  font-size: 1.6rem !important;

}
.icon-tingchechang:before {
  content: "\e9d4";
}
.icon-clock2:before {
  content: "\e9d5";
}
.icon-tuipiao1:before {
  content: "\e9d6";
}
.icon-weishengjian:before {
  content: "\e9d7";
}
.icon-wenxunchu:before {
  content: "\e9d8";
}
.icon-xiaohongmao:before {
  content: "\e9d9";
}
.icon-yiliao:before {
  content: "\e9da";
}
.icon-remen:before {
  content: "\e9db";
}
.icon-bianji:before {
  content: "\e9dc";
}
.icon-restaurant:before {
  content: "\e9dd";
}
.icon-mouse:before {
  content: "\e9de";
}
.icon-shenghuo:before {
  content: "\e9df";
}
.icon-xingzheng:before {
  content: "\e9e0";
}
.icon-yundong:before {
  content: "\e9e1";
}
.icon-train1:before {
  content: "\e9e2";
}
.icon-worker1:before {
  content: "\e9e3";
}
.icon-alarm:before {
  content: "\e9e4";
}
.icon-yuangongGuanai1:before {
  content: "\e9e5";
}
.icon-zhaomuRenshu1:before {
  content: "\e9e6";
}
.icon-jiantou:before {
  content: "\e9e7";
}
.icon-luyinzhong:before {
  content: "\e9e8";
}
.icon-defaultweizhi:before {
  content: "\e9e9";
}
.icon-gongjiao2:before {
  content: "\e9ea";
}
.icon-remen1:before {
  content: "\e9eb";
}
.icon-restaurant1:before {
  content: "\e9ec";
}
.icon-shenghuo1:before {
  content: "\e9ed";
}
.icon-weishengjian1:before {
  content: "\e9ee";
}
.icon-qiehuan:before {
  content: "\e9ef";
}
.icon-icon_qiehuan:before {
  content: "\e9ef";
  color: rgb(70,162,251);
}
.icon-shengjiangdianti:before {
  content: "\e9f0";
}
.icon-zhaomu:before {
  content: "\e9f1";
}
.icon-sousuo:before {
  content: "\e9f2";
}
.icon-wenxuntai:before {
  content: "\e9f3";
}
.icon-wodeweizhi:before {
  content: "\e9f4";
}
.icon-pano:before {
  content: "\e9f5";
}
.icon-jianpiaokou:before {
  content: "\e9f6";
}
.icon-gift:before {
  content: "\e9f7";
}
.icon-yinshuichu:before {
  content: "\e9f8";
}
.icon-zizhuqupiao:before {
  content: "\e9f9";
}
.icon-xiaohongmao1:before {
  content: "\e9fa";
}
.icon-yiliaofuwu:before {
  content: "\e9fb";
}
.icon-weishengjian2:before {
  content: "\e9fc";
}
.icon-tuigaiqian:before {
  content: "\e9fd";
}
.icon-jiaofei:before {
  content: "\e9fe";
}
.icon-jianzhankou:before {
  content: "\e9ff";
}
.icon-houchequ:before {
  content: "\ea00";
}
.icon-zhanwaifuwu:before {
  content: "\ea03";
}
.icon-zhoubian:before {
  content: "\ea04";
}
.icon-search1:before {
  content: "\ea05";
}
.icon-yuyin1:before {
  content: "\ea06";
}
.icon-mypos1:before {
  content: "\ea07";
}
.icon-tielu:before {
  content: "\ea08";
}
.icon-toIndoor:before {
  content: "\ea09";
}
.icon-toOutdoor:before {
  content: "\ea0a";
}
.icon-home1:before {
  content: "\ea0b";
}
.icon-home21:before {
  content: "\ea0c";
}

.icon-pen:before {
  content: "\ea0d";
}
.icon-blog:before {
  content: "\ea0e";
}
.icon-eyedropper:before {
  content: "\ea0f";
}
.icon-droplet1:before {
  content: "\ea10";
}
.icon-paint-format:before {
  content: "\ea11";
}
.icon-image1:before {
  content: "\ea12";
}
.icon-qrcode1:before {
  content: "\ea13";
}
.icon-compass:before {
  content: "\ea14";
}
.icon-compass2:before {
  content: "\ea15";
}
.icon-undo1:before {
  content: "\ea16";
}
.icon-redo1:before {
  content: "\ea17";
}
.icon-undo21:before {
  content: "\ea18";
}
.icon-home2:before {
  content: "\ea19";
}
.icon-home3:before {
  content: "\ea1a";
}
.icon-office:before {
  content: "\ea1b";
}
.icon-newspaper:before {
  content: "\ea1c";
}
.icon-pencil:before {
  content: "\ea1d";
}
.icon-pencil2:before {
  content: "\ea1e";
}
.icon-quill:before {
  content: "\ea1f";
}
.icon-droplet:before {
  content: "\ea20";
}
.icon-image:before {
  content: "\ea21";
}
.icon-images:before {
  content: "\ea22";
}
.icon-bookmark:before {
  content: "\ea23";
}
.icon-camera:before {
  content: "\ea24";
}
.icon-music:before {
  content: "\ea25";
}
.icon-play:before {
  content: "\ea26";
}
.icon-bin:before {
  content: "\ea27";
}
.icon-bin2:before {
  content: "\ea28";
}
.icon-book:before {
  content: "\ea29";
}
.icon-books:before {
  content: "\ea2a";
}
.icon-copy:before {
  content: "\ea2b";
}
.icon-paste:before {
  content: "\ea2c";
}
.icon-stack:before {
  content: "\ea2d";
}
.icon-folder:before {
  content: "\ea2e";
}
.icon-folder-open:before {
  content: "\ea2f";
}
.icon-sousuo-list:before {
  content: "\ea30";
}
.icon-watinglist:before {
  content: "\ea31";
}
.icon-qrcode:before {
  content: "\ea32";
}
.icon-bookmarks:before {
  content: "\ea33";
}
.icon-coin-dollar:before {
  content: "\ea34";
}
.icon-coin-yen:before {
  content: "\ea35";
}
.icon-credit-card:before {
  content: "\ea36";
}
.icon-bubbles2:before {
  content: "\ea37";
}
.icon-bubble2:before {
  content: "\ea38";
}
.icon-bubbles3:before {
  content: "\ea39";
}
.icon-bubbles4:before {
  content: "\ea3a";
}
.icon-user:before {
  content: "\ea3b";
}
.icon-users:before {
  content: "\ea3c";
}
.icon-user-plus:before {
  content: "\ea3d";
}
.icon-user-minus:before {
  content: "\ea3e";
}
.icon-user-check:before {
  content: "\ea3f";
}
.icon-sun:before {
  content: "\ea40";
}
.icon-gongjiao:before {
  content: "\ea41";
}
.icon-buxing:before {
  content: "\ea42";
}
.icon-ditie:before {
  content: "\ea43";
}
.icon-star-full:before {
  content: "\ea44";
}
.icon-contrast:before {
  content: "\ea45";
}
.icon-brightness-contrast:before {
  content: "\ea46";
}
.icon-switch:before {
  content: "\ea47";
}
.icon-point-up:before {
  content: "\ea48";
}
.icon-point-right:before {
  content: "\ea49";
}
.icon-point-down:before {
  content: "\ea4a";
}
.icon-point-left:before {
  content: "\ea4b";
}
.icon-envelop:before {
  content: "\ea4c";
}
.icon-pushpin:before {
  content: "\ea4d";
}
.icon-printer:before {
  content: "\ea4e";
}
.icon-cloud-download:before {
  content: "\ea4f";
}
.icon-cloud-check:before {
  content: "\ea50";
}
.icon-sphere:before {
  content: "\ea51";
}
.icon-earth:before {
  content: "\ea52";
}
.icon-link:before {
  content: "\ea53";
}
.icon-infinite:before {
  content: "\ea54";
}
.icon-shuffle:before {
  content: "\ea55";
}
.icon-wink2:before {
  content: "\ea56";
}
.icon-crop:before {
  content: "\ea57";
}
.icon-grin2:before {
  content: "\ea58";
}
.icon-warning:before {
  content: "\ea59";
}
.icon-scissors:before {
  content: "\ea5a";
}
.icon-notification:before {
  content: "\ea5b";
}
.icon-question:before {
  content: "\ea5c";
}
.icon-info:before {
  content: "\ea5d";
}
.icon-cancel-circle:before {
  content: "\ea5e";
}
.icon-blocked:before {
  content: "\ea5f";
}
.icon-enter:before {
  content: "\ea60";
}
.icon-exit:before {
  content: "\ea61";
}
.icon-play_down:before {
  content: "\ea62";
}
.icon-play3:before {
  content: "\ea63";
}
.icon-pause2:before {
  content: "\ea64";
}
.icon-gongjiao3:before {
  content: "\ea65";
}
.icon-dianti:before {
  content: "\ea66";
}
.icon-ditie1:before {
  content: "\ea67";
}
.icon-xishoujian:before {
  content: "\ea68";
}
.icon-icon_xishoujian:before {
  content: "\ea68";
  /* color: rgb(70,162,251); */
}
.icon-office1:before {
  content: "\ea69";
}
.icon-newspaper1:before {
  content: "\ea6a";
}

.icon-redo21:before {
  content: "\ea6b";
}
.icon-search2:before {
  content: "\ea6c";
}
.icon-help1:before {
  content: "\ea6d";
}
.icon-home:before {
  content: "\ea6e";
}
.icon-connection:before {
  content: "\ea6f";
}
.icon-podcast:before {
  content: "\ea70";
}
.icon-feed:before {
  content: "\ea71";
}
.icon-mic:before {
  content: "\ea72";
}
.icon-forward:before {
  content: "\ea73";
}
.icon-reply:before {
  content: "\ea74";
}
.icon-bubble:before {
  content: "\ea75";
}
.icon-bubbles:before {
  content: "\ea76";
}
.icon-heart:before {
  content: "\ea77";
}
.icon-happy2:before {
  content: "\ea78";
}
.icon-smile2:before {
  content: "\ea79";
}
.icon-sad2:before {
  content: "\ea7a";
}
.icon-stop2:before {
  content: "\ea7b";
}
.icon-volume-high1:before {
  content: "\ea7c";
}
.icon-volume-medium1:before {
  content: "\ea7d";
}
.icon-volume-low1:before {
  content: "\ea7e";
}
.icon-volume-mute1:before {
  content: "\ea7f";
}
.icon-volume-mute21:before {
  content: "\ea80";
}
.icon-volume-increase1:before {
  content: "\ea81";
}
.icon-volume-decrease1:before {
  content: "\ea82";
}
.icon-loop2:before {
  content: "\ea83";
}
.icon-circle-up:before {
  content: "\ea84";
}
.icon-circle-right:before {
  content: "\ea85";
}
.icon-circle-down:before {
  content: "\ea86";
}
.icon-circle-left:before {
  content: "\ea87";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-close2:before {
  content: "\eab5";
}
.icon-share2:before {
  content: "\eab6";
}
.icon-android:before {
  content: "\eac0";
}
.icon-windows:before {
  content: "\eac1";
}
.icon-windows1:before {
  content: "\eac2";
}
.icon-list2:before {
  content: "\eac4";
}
.icon-list3:before {
  content: "\eac5";
}
.icon-safari:before {
  content: "\eadd";
}
.icon-safari1:before {
  content: "\eade";
}
.icon-svg:before {
  content: "\eae9";
}
.icon-weisheng:before {
  content: "\eafb";
}
.icon-more-triangle:before {
  content: "\eafc";
}
.icon-cofirm:before {
  content: "\eb4d";
}
.icon-jiaodu:before {
  content: "\ebb6";
}
.icon-con-link:before {
  content: "\ebce";
}
.icon-suolue:before {
  content: "\ec21";
}
.icon-dir-down:before {
  content: "\ec22";
}
.icon-dir-up:before {
  content: "\ec23";
}
.icon-list:before {
  content: "\ec24";
}
.icon-dir-left:before {
  content: "\ec25";
}
.icon-dir-right:before {
  content: "\ec26";
}
.icon-jianpan:before {
  content: "\ec27";
}
.icon-apple:before {
  content: "\ec28";
}
/*parking simulate  heatmap btn*/
.parkingbtn,
.heatmapbtn,
.simulatebtn {
    display: none;
    position: absolute;
    right: 5px;
    top: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 21px;
    border-radius: 2.8px;
    border: #ccc 1px solid;
    float: left;
    z-index: 200;
    background: -webkit-linear-gradient(top, #fff, #e5e5e5);
}
/*.parkingbtn:active,*/

.heatmapbtn:active,
.simulatebtn:active {
    opacity: 0.8;
}

.parkingbtn:active {
    /*background: #c76812;*/
    background-color: #d87317;
}

.icon4-parking2 {
    border: 0px;
    border-radius: 50%;
    background: #F4831D;
    font-size: 4rem;
    box-shadow: 2px 2px 2px #9a9797, -2px -2px 2px #9c9898;
}
/*修正 字体大小*/

.home_page .main .icon-container .main-icon-list [class*="icon4-"]:before {
    font-size: 33px;
    font-weight: 500;
}
.icon-stack-fill:before {
  content: "\e910";
}
.icon-arrowIcon:before {
  content: "\e911";
  color: #fff;
}
.icon-headset:before {
  content: "\e912";
}
